name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Clone Love-Android
        run: git clone --depth 1 https://github.com/love2d/love-android.git

      - name: Prepare Assets and Build
        run: |
          # Создаем папку для игры, если её нет
          mkdir -p love-android/app/src/main/assets/
          # Пакуем всё, что у тебя в репозитории, в игру
          zip -9 -r game.love . -x "./love-android/*" "./.git/*" "./.github/*"
          # Копируем в проект
          cp game.love love-android/app/src/main/assets/
          # Запускаем сборку
          cd love-android
          chmod +x gradlew
          ./gradlew assembleDebug --stacktrace
